@import "../../colors.scss";

.contentStyle {
    height: 50px;
    line-height: 20px;
    margin: 0px;
    color: $fontColor;
    text-align: start;
    padding: 0px;
    padding-left: 25px;
}

.cardStyle {
    padding: 0px;
    height: 170px;
    margin-bottom: 8px;
    background-color: $primaryColor,
}

.button {
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    color: $fontColor;
}