@import "../../colors.scss";

.wrapper{
    background-color: $accentBackgroundColor;
}

.card{
    background-color: $tertiaryColor;
    padding: 50px 70px 30px 70px;
    border-radius: 20px;
    width: 600px;
}

.link{
    color: #4096ff;
}