@import "../../colors.scss";

.sidebar{
    background-color: $accentBackgroundColor;

    aside {
        position: relative;
    }    
    button.css-dev-only-do-not-override-kghr11 {
        width: 50px !important;
        height: 40px !important;
        position: absolute;
        bottom: 100px;
        left: -5px;
        background: #002766;
        border-radius: 0;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        &:hover {
            background: #34B990 !important;
            
            svg {        
                fill: #fff !important;
            }
        }
    }
}
#sider{
    min-width: 72px;
}
.nav-logo{
    background-image: url("/BudgetWiseNS.png");
    height: 50px;
    width: 170px;
    background-size: contain;
    background-repeat: no-repeat;
}
.nav-logo-collapsed{
    background-image: url("/favicon.png");
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}
.ant-menu{
    background: none;
}
ul.ant-menu li:hover, .ant-menu-item-selected{
    background-color: $secondaryColor !important;
}
ul.ant-menu{
  //  margin-left: 8px;
}
ul.ant-menu li{
    padding-top: 0px !important;
    padding-right: 23px !important;
    padding-bottom: 0px !important;
    margin-inline: 20px !important;
    margin-block: 10px !important;
    border-radius: 20px !important;    
    &:last-child{
        font-weight: 500;
        background-color: #1A2C3E;
    }
    &:hover {
        background-color: #1677FF !important;
    }
}
ul.ant-menu.ant-menu-inline-collapsed li {
    margin-inline: 10px !important;
}
ul.ant-menu li:last-child {
    position: absolute !important;
    bottom: 20px;

    &:hover{
        background-color: #9e9e9e !important;
        color: black !important;
    }
}
.ant-layout-sider-children{
    height: 100%;
}
