.card-expenses {

    .ant-card-body {
        background-color: #001529;
        color: #fff;
        border-radius: 18px;
        padding: 20px;
    }

    .icon-expenses {
        padding: 12px;
        border-radius: 12px;
        width: 55px;
        height: auto;

        svg {
            fill: #fff;
            width: 30px;
            height: auto;
        }
    }

    h3 {
        color: #BBBBBB;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    p {
        color: #fff;
        font-weight: 700;
        font-size: 20px;

    }

    &.total-expenses {
        .icon-expenses {
            background-color: #34B990;
        }
    }

    &.accumulated-expense {
        .icon-expenses {
            background-color: #1677FF;
        }
    }

    &.average-expenses {
        .icon-expenses {
            background-color: #64CFF6;

            svg {
                fill: #000000;
            }
        }
    }
}

.ant-alert {
    margin-bottom: 15px;
    background: #fff;
    font-weight: 500;
    border-radius: 80px;
    padding: 8px 15px;

    &-warning {
        border: 2px solid #ffe58f;

        .anticon {

            svg {
                width: 16px;
                height: 16px;
                fill: #34B990;
            }
        }
    }
}

.progress-circle {
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 15px 0;

    .ant-progress-circle {
        margin-bottom: 5px;

        .ant-progress-text {
            font-weight: 600;
        }
    }

    p {
        font-weight: 700;

        span {
            font-weight: 400;
        }
    }
     
}

.row-graphs {
    margin-bottom: 25px;
}