.card-expenses {

    .ant-card-body {
        background-color: #001529;
        color: #fff;
        border-radius: 18px;
        padding: 20px;
    }

    img {
        padding: 15px;
        border-radius: 12px;
        width: 55px;
        height: auto;
    }

    h3 {
        color: #BBBBBB;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
    }

    p {
        color: #fff;
        font-weight: 700;
        font-size: 20px;

    }

    &.total-expenses {
        img {
            background-color: #6359E9;
        }
    }

    &.accumulated-expense {
        img {
            background-color: #1677FF;
        }
    }

    &.average-expenses {
        img {
            background-color: #64CFF6;
        }
    }
}