@import "../../colors.scss";

.sidebar{
    background-color: $accentBackgroundColor;
}

#sider{
    min-width: 72px;
}

.nav-logo{
    background-image: url("/BudgetWiseNS.png");
    height: 50px;
    width: 170px;
    background-size: contain;
    background-repeat: no-repeat;
}

.nav-logo-collapsed{
    background-image: url("/favicon.png");
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
}

.ant-menu{
    background: none;
}
ul.ant-menu li:hover, .ant-menu-item-selected{
    background-color: $secondaryColor !important;
}

ul.ant-menu{
  margin-left: 8px;
  height: calc(100vh - 150px);
}

ul.ant-menu li{
    padding-top: 0px !important;
    padding-right: 23px !important;
    padding-bottom: 0px !important;
}

ul.ant-menu li:last-child{
    font-weight: 500;
    background-color: #1A2C3E;
    position: absolute !important;
    bottom: 25px;
    width: 195px;
}

ul.ant-menu li:last-child:hover{
    background-color: #9e9e9e !important;
    color: black !important;
}

.ant-layout-sider-children{
    height: 100%;
}
