@import 'colors.scss';

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  background-color: #071829;

  .main-content {
    width: calc(100vw - 200px);
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 30px 90px 30px 40px;
    margin: 20px;
    min-height: calc(100vh - 40px);
  }
}

button {  
  &.ant-btn-primary {
    background-color: #2CB990 !important;
    font-weight: 600 !important;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    &:hover {
      background-color: #1677FF !important
    } 
  }
  &.ant-btn-default {
    border: 2px solid #000;
    font-weight: 600 !important;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1) !important;
    &:hover {
      background-color: #000 !important;
      color: #fff !important;
      border-color: #000 !important;
    }
  }
}

th {
  &.ant-table-cell {
    background-color: #e1e1e1 !important;
  }
}

.title {
  font-size: 24px;
  font-weight: 700;
  color: #34B990;
}
.subtitle {
  font-size: 18px;
  font-weight: 400;
  color: #666;
  margin-bottom: 30px;
}

.ant-table-wrapper  table {
     margin-bottom: 20px;

  .ant-table-thead  {
      > tr {
        background-color: #001529;

          > th {
              background-color: #001529;
              color: #34B990;
              font-weight: 700;
              font-size: 16px;

              &::before {
                display: none;
              }
          }
      }
  }

  .ant-table-tbody  {
      > tr {
          > td {
              font-size: 14px;
              font-weight: 600;

              &:first-child {
                  border-end-start-radius: 10px;
              }
              &:last-child {
                  border-end-end-radius: 10px;
              }
          }
      }
  }

  .ant-table-row-expand-icon {
      width: 20px;
      height: 20px;
      background-color: #34B990;
      color: #fff;

      &::before{
          top: 9px;
          inset-inline-end: 4px;
          inset-inline-start: 4px;
      }

      &::after{
          inset-inline-start: 8.5px;
      }

      &:hover,
      &:focus {
          background-color: #22664E;
          color: #fff;
      }

  }

  .ant-table-expanded-row {
      background-color: #eee;
      .ant-table-thead  {
          > tr {
              > th {
                  background-color: #34B990;
                  color: #000;
              }
          }
      } 
  }
}

.ant-picker-calendar-date {
  margin: 0px !important;
  padding: 0px !important;
  height: 150px !important;
}

.ant-picker-calendar-date-content {
  height: 120px !important;
}