// Use this to change all colors in this website.


$backgroundColor: #ffffff;
$accentBackgroundColor: #071829;


$primaryColor: #071829;
$secondaryColor: #34B990;

$tertiaryColor: #ffffff;

$fontColor: #ffffff;
